- country_name = country_name_for(location.country)
%ol.breadcrumb
  %li
    %a{href: root_path} Home
  %li
    %a{href: directory_index_path(ref: 'event_bc', focus: 'event')} BJJ Event Directory
  %li
    %a{href: directory_index_path(country_name, ref: 'event_bc', focus: 'event')}= country_name
  %li
    %a{href: directory_index_path(country_name, location.city, ref: 'event_bc', focus: 'event')}= location.city
  %li.active= local_assigns[:event] ? event.title : location.title
