.create-event-dialog.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "addEventLabel", :role => "dialog", :tabindex => "-1"}
  = form_for([location, location.events.new], html: { class: "form-horizontal #{event_type_name(Event::EVENT_TYPE_CLASS)}" } ) do |f|
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{'data-dismiss' => 'modal', 'type' => 'button'}
            %span{'aria-hidden' => 'true'} &times;
            %span.sr-only Close
          %h4.modal-title
            %i.fa.fa-calendar
            Create Event
        .modal-body
          .container-fluid
            .row
              .col-md-12
                = render partial: 'location_events/create_event', locals: { f: f }
        .modal-footer
          %button.btn.btn-default{:type => 'button', 'data-dismiss' => 'modal'} Cancel
          %button.btn.btn-success{:disabled => true, :type => 'submit'} Create Event

