- value = local_assigns[:value] || nil
%label.control-label{:for => "event[ending]"} End
.input-group.date.pick-time.end{:'data-pick-time' => local_assigns[:pick_time] ? local_assigns[:pick_time] : true}
  %input.form-control{'name' => 'event[ending]', 'type' => 'text', 'value' => value}/
  %span.input-group-addon
    %span.fa.fa-clock-o
