%label.control-label{:for => "event[ending]"} End
.input-group.date.pick-time.end
  %input.form-control{'name' => 'event[ending]', 'type' => 'text'}/
  %span.input-group-addon
    %span.fa.fa-clock-o
