%label.control-label{:for => "event[event_recurrence]"} Repeat
.form-inline
  = f.select :event_recurrence, select_recurrence, {}, class: 'form-control input-md'
  .week-recurrence.btn-group{'data-toggle' => 'buttons'}
    %label.btn.btn-default
      %input{:name => 'event[weekly_recurrence_days][]', :type => 'checkbox', :value => '0'}/
      Su
    %label.btn.btn-default
      %input{:name => 'event[weekly_recurrence_days][]', :type => 'checkbox', 'data-toggle' => 'button', :value => '1'}/
      Mo
    %label.btn.btn-default
      %input{:name => 'event[weekly_recurrence_days][]', :type => 'checkbox', 'data-toggle' => 'button', :value => '2'}/
      Tu
    %label.btn.btn-default
      %input{:name => 'event[weekly_recurrence_days][]', :type => 'checkbox', 'data-toggle' => 'button', :value => '3'}/
      We
    %label.btn.btn-default
      %input{:name => 'event[weekly_recurrence_days][]', :type => 'checkbox', 'data-toggle' => 'button', :value => '4'}/
      Th
    %label.btn.btn-default
      %input{:name => 'event[weekly_recurrence_days][]', :type => 'checkbox', 'data-toggle' => 'button', :value => '5'}/
      Fr
    %label.btn.btn-default
      %input{:name => 'event[weekly_recurrence_days][]', :type => 'checkbox', 'data-toggle' => 'button', :value => '6'}/
      Sa
