%form.well.form{:role => "form", :action => "/auth/identity/callback", :method => "post", :novalidate => "noValidate"}
  .form-group
    %label{:for => "auth_key"} Login
    %input.form-control{:name => "auth_key", :type => "text"}/
  .form-group
    %label{:for => "password"} Password
    %input.form-control{:name => "password", :type => "password"}/
  %button.btn.btn-default.form-control{:type => "submit"} Submit
