%ul.list-inline
  %li{style: 'margin-bottom: 6px'}
    = link_to '/auth/facebook', class: 'btn facebook-login-btn btn-social btn-facebook' do
      %i.fa.fa-facebook
      Login with Facebook
  %li{style: 'margin-bottom: 6px'}
    = link_to '/auth/google_oauth2', class: 'btn google-login-btn btn-social btn-google-plus' do
      %i.fa.fa-google-plus
      Login with Google
  %li{style: 'magin-bottom: 6px'}
    = link_to '/auth/twitter', class: 'btn twitter-login-btn  btn-social btn-twitter' do
      %i.fa.fa-twitter
      Login with Twitter
