.container
  .row
    .col-md-offset-2.col-md-8
      %h1 
        %img.hidden-xs.hidden-sm{:src => '//storage.googleapis.com/bjjmapper/logo.png', :alt => 'BJJMapper logo'}/
        Login or Register for BJJMapper
        %small yes its free!
  .row
    .col-md-offset-2.col-md-7
      = render partial: 'sessions/service_buttons'
      %h4 Don't use these services? Login below:
      = render partial: 'sessions/identity_login_form'
    %hr/
  .row
    .col-md-offset-2.col-md-7= render partial: 'sessions/identity_register_form'
    
