.container
  - notifications.each do |notification|
    = render partial: 'moderation_notifications/notification', object: notification

= content_for(:scripts) do
  :javascript
    $(document).ready(function() {
      $('body').delegate('[data-dismiss-notification]', 'click', function(e) {

        var id = $(e.currentTarget).data('id');
        $.ajax({
          url: Routes.dismiss_moderation_notification_path(id),
          type: 'PUT',
          dataType: 'json',
          complete: function() {
            toastr.success('Dismissed')
            $(e.currentTarget).parents('.well').remove();
          }
        });
      });
    });
