.list-group
  %p.small.text-muted.text-center.list-count.float-left
  .empty-message
    %div
      %h5.text-danger
        %i.fa.fa-exclamation-circle
        Sorry, we have nothing to show you
      %span.small.text-danger{:style => 'margin-bottom: 20px'}
        Try zooming out or using the search bar at the top of the page.
        %br/
        If you are using filters, try clearing them.
    %br/
    - if local_assigns[:show_create]
      %div
        %a.btn.btn-success{:href => wizard_locations_path(ref: 'empty_list'), :style => 'display: block;'}
          %h4
            %i.fa.fa.fa-map-marker
            %span Where is my academy?
          %small{:style => 'margin-bottom: 10px; display: block'} Click here to add your academy to the map
      %br/
  .items
  -#.page-buttons
    %button.btn.btn-default.btn-sm.small.text-muted.float-left{'data-map-next' => true, :type => 'button'}
      %span.fa.fa-chevron-left
      Prev
    %button.btn.btn-default.btn-sm.small.text-muted.float-right{'data-map-prev' => true, :type => 'button'}
      %span.fa.fa-chevron-right
      Next
