%ul.nav.nav-tabs{:role => 'tablist'}
  %li.active
    %a{:href => '#existing-instructor', 'role' => 'tab', 'data-toggle' => 'tab'} Existing
  %li
    %a{:href => '#create-instructor', 'role' => 'tab', 'data-toggle' => 'tab'} Create
