.add-instructor-dialog.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'addInstructor', 'role' => 'dialog', 'tabindex' => -1}
  %form{:action => location_instructors_path(location), :method => 'POST'}
    .modal-dialog
      .modal-content
        .modal-body
          %img.center-block.img-block
          = hidden_field_tag :location_id, location.id
          = hidden_field_tag :authenticity_token, form_authenticity_token
          = select_tag :id, options_for_select(all_instructors.map { |instructor| [instructor.name, instructor.id, {'data-img-src' => instructor.image}] }), class: 'form-control  input-md'
        .modal-footer
          %button.btn.btn-default{'data-dismiss' => 'modal'}
            Cancel
          %button.btn.btn-primary{:type => 'submit'}
            Submit
