- new_instructor = User.new(teams: [team]).decorate
.tab-content
  %div.tab-pane.active#existing-instructor
    %form{:action => team_instructors_path(team), :method => 'POST'}
      .container-fluid
        = hidden_field_tag :team_id, team.id
        = hidden_field_tag :authenticity_token, form_authenticity_token
        = text_field_tag :name, nil, class: 'typeahead instructor-name form-control input-md'
        = hidden_field_tag :id, nil
        %br/
      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal'}
          Cancel
        %button.btn.btn-primary{:type => 'submit'}
          Add Instructor
