.col-sm-6.col-md-4.instructor
  .container-fluid
    %button.edit-field.close.remove-user{"aria-hidden" => "true", :type => "button", "data-id" => user.id} &times;
  %a.thumbnail{:href => user_path(user)}
    %img{:alt => "#{user.name} profile image", :src => user.image}
    .caption
      %h3= user.name
      = render partial: 'users/belt', locals: { user: user }
      %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
