%h3 Instructors
%a{:name => 'instructor'}
- location.instructors.each do |instructor|
  = image_tag instructor.image, class: 'pull-left'
  %p{:style => 'margin-left: 15px;'}
    %span= instructor.name
    %br/
    %span= instructor.rank_in_words

