%h3 Instructors
%a{:name => 'instructor'}
- location.instructors.each do |instructor|
  .container-fluid
    .row
      = link_to user_path(instructor) do
        .col-md-3
          = image_tag instructor.image, class: 'center-block'
        .col-md-3
          %span= instructor.name
          %br/
          %span= instructor.rank_in_words

