%h3 Instructors
%a{:name => 'instructor'}
- location.instructors.each do |instructor|
  .instructor.pull-left
    = link_to user_path(instructor) do
      = image_tag instructor.image
      %b.small= instructor.name
      %br/
      = image_tag instructor.rank_image, alt: instructor.rank_in_words

