%input.lineage.typeahead.form-control.input-md.edit-field{type: 'text', placeholder: user.lineal_parent.try(:name), value: user.lineal_parent.try(:name)}/
%input.edit-field{name: 'user[lineal_parent_id]', type: 'hidden', value: user.lineal_parent_id}/

= content_for(:scripts) do
  :javascript
    $(document).ready(function() {
      var autocomplete = new RollFindr.Views.UserAutocompleteView({target: $('[name="user[lineal_parent_id]"]'), el: $('.typeahead.lineage')});
    });
	
