-#%small.pull-left.text-muted= "All times shown using the #{location.timezone} timezone."
-#%div.pull-right.small.text-muted= "last updated #{location.schedule_updated_at}"
%a{:name => 'schedule'}
.scheduler-container.clear
  .scheduler
