.add-event-dialog.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "addEventLabel", :role => "dialog", :tabindex => "-1"}
  = form_for([location, location.events.new], html: { class: 'form-horizontal' } ) do |f|
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{'data-dismiss' => 'modal', 'type' => 'button'}
            %span{'aria-hidden' => 'true'} &times;
            %span.sr-only Close
          %h4
            %i.fa.fa-calendar
            Create Event
        .modal-body
          %ul.nav.nav-tabs{:role => 'tablist'}
            %li.active
              %a{:href => '#class-event', 'role' => 'tab', 'data-toggle' => 'tab'} Scheduled Class
            %li
              %a{:href => '#special-event', 'role' => 'tab', 'data-toggle' => 'tab'} Seminar
            %li
              %a{:href => '#tournament-event', 'role' => 'tab', 'data-toggle' => 'tab'} Tournament
          .tab-content
            .tab-pane#special-event
              %h4.text-danger Coming soon
            .tab-pane#tournament-event
              %h4.text-danger Coming soon
            .active.tab-pane#class-event
              .container-fluid
                .row
                  %br/
                  .col-md-12
                    %fieldset
                      / Text input
                      .form-group
                        %label.control-label{:for => "event[title]"} Title
                        = f.text_field :title, placeholder: 'eg. BJJ Beginners, Competition Class', class: 'form-control input-lg'
                      .form-group
                        %label.control-label{:for => "event[instructor]"} Instructor
                        = f.select :instructor, location.instructors.map{|o| [o.name, o.id]}, {include_blank: true}, class: 'form-control input-md'
                      .form-group
                        %strong Start
                        .input-group.date.pick-time.start
                          %input.form-control{'name' => 'event[starting]', 'type' => 'text'}/
                          %span.input-group-addon
                            %span.fa.fa-clock-o
                      .form-group
                        %strong End
                        .input-group.date.pick-time.end
                          %input.form-control{'name' => 'event[ending]', 'type' => 'text'}/
                          %span.input-group-addon
                            %span.fa.fa-clock-o
                      .form-group
                        %label.control-label{:for => "event[event_recurrence]"} Repeat
                        .form-inline
                          = f.select :event_recurrence, select_recurrence, {}, class: 'form-control input-md'
                          .week-recurrence.btn-group{'data-toggle' => 'buttons'}
                            %label.btn.btn-default
                              %input{:name => 'event[weekly_recurrence_days][]', :type => 'checkbox', :value => '0'}/
                              Su
                            %label.btn.btn-default
                              %input{:name => 'event[weekly_recurrence_days][]', :type => 'checkbox', 'data-toggle' => 'button', :value => '1'}/
                              Mo
                            %label.btn.btn-default
                              %input{:name => 'event[weekly_recurrence_days][]', :type => 'checkbox', 'data-toggle' => 'button', :value => '2'}/
                              Tu
                            %label.btn.btn-default
                              %input{:name => 'event[weekly_recurrence_days][]', :type => 'checkbox', 'data-toggle' => 'button', :value => '3'}/
                              We
                            %label.btn.btn-default
                              %input{:name => 'event[weekly_recurrence_days][]', :type => 'checkbox', 'data-toggle' => 'button', :value => '4'}/
                              Th
                            %label.btn.btn-default
                              %input{:name => 'event[weekly_recurrence_days][]', :type => 'checkbox', 'data-toggle' => 'button', :value => '5'}/
                              Fr
                            %label.btn.btn-default
                              %input{:name => 'event[weekly_recurrence_days][]', :type => 'checkbox', 'data-toggle' => 'button', :value => '6'}/
                              Sa
        .modal-footer
          %button.btn.btn-default{:type => 'button', 'data-dismiss' => 'modal'} Cancel
          %button.btn.btn-success{:disabled => true, :type => 'submit'} Create Event

