%label.control-label{:for => "event[starting]"} Start
.input-group.date.pick-time.start
  %input.form-control{'name' => 'event[starting]', 'type' => 'text'}/
  %span.input-group-addon
    %span.fa.fa-clock-o
