<div class="team-list">
  <h5>Filter by Team <small><a href="javascript:void(0);" data-clear-filters>clear</a></small></h5>
  <ul class="list-unstyled">
    <% _.each(teams, function(team) { %>
      <li>
        <label>
          <input data-team-id="<%= team.id %>" type="checkbox" />
          <%= team.name %>
        </label>
      </li>
    <% }); %>
    <li></li>
  </ul>
</div>
