<div style="margin: 10px 0px 0px 10px">
<button aria-expanded="false" class="btn btn-success dropdown-toggle" data-toggle="dropdown" type="button">
  <i class="fa fa-map-marker fa-3x"></i>
  <span class="caret"></span>
  <span class="sr-only">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu" role="menu">
  <li>
    <a class="add-academy" href="#">Create Academy</a>
  </li>
  <li>
    <a class="add-academy-quick" href="#">Quick Create</a>
  </li>
  <li>
    <a class="add-academy-quick-geo" href="#">Quick Create (use current location)</a>
  </li>
</ul>
</div>
