<div class="btn-group" style="margin: 10px 10px 0px 10px">
  <a href="<%= Routes.wizard_locations_path({ref: 'map'}) %>" class="btn btn-success" type="button">
    <i class="fa fa-map-marker"></i>
    Create Academy
  </a>
  <button aria-expanded="false" class="btn btn-success dropdown-toggle" data-toggle="dropdown" type="button">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a class="add-academy-quick" href="#">Quick Create</a>
    </li>
    <li>
      <a class="add-academy-quick-geo" href="#">Quick Create (use current location)</a>
    </li>
  </ul>
</div>
