<h4><%= event.title %></h4>
<% if (event.instructor_name) { %>
<span class="text-info h5">with <%= event.instructor_name %></span><br/>
<% } %>
<span class="text-muted h5"> <%= event.duration %></span>
<p class="small"><%= event.description %></p>
