/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 *= require bootstrap
 *= require font-awesome
 *= require bootstrap-social
 *= require toastr
 *= require bootstrap-datetimepicker
*/

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.location-list {
  .list-index {
    padding: 7px 0px;
    height: 100%;
    float: left;
    width: 40px;
    text-align: center;
    span {
      font-size: 150%;
    }
  }

  .distance {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.team-list ul {
  max-height: 200px;
  overflow-y: scroll;
  li label {
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.clear-input-button {
  line-height: 34px !important;
}

.image-caption {
  position: relative;
  top: -50px;
  left: 0px;
}

.report {
  color: red;
}

.show-user {
  img {
    max-width: 300px;
  }
}

.show-location, .show-user {
  &>a {
    color: black;
  }
  h3 {
    margin-top: 0px !important;
  }
  h1 {
    margin-top: 5px !important;
  }
}

.show-location-overlay {
  img {
    width: 50px;
    height: 50px;
  }
}

.map-list {
  margin-top: 7px;
}

.map-view, .map-list-view {
  padding: 0px !important;
  min-height: 100% !important;
}

.map-list-view {
  background-color: #eee;
  .tab-content {
    background-color: white;
  }
}

.map-canvas {
  height: 100%;
}

.wrapper {
  .map-canvas {
    position: fixed !important;
    top: 50px;
    right: 33.3333%;
    @media screen and (max-width: 1000px) {
      position: absolute !important;
      top: 0;
      right: 0;
    }
    left: 0;
    bottom: 0;
    border: 2px solid transparent;
  }
  &.map-edit-mode {
    .map-canvas {
      border: 2px dashed #449d44;
    }
  }
}

.wrapper {
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin-top: 52px;

  .navbar {
    position: fixed !important;
    width: 100%;
    z-index: 10000;
    top: 0px;
    left: 0px;
    margin-bottom: 0px !important;
  }
  .location-list {
    padding: 0px !important;
    .location-list-item {
      h4 {
        display: inline-block;
      }
      .label {
        color: black;
        min-width: 60px;
        display: inline-block;
        text-align: left;
      }
      .active-content { display: none; }
      &.marker-active {
        background-color: #D7F0FF;
        .active-content {
          display: inherit;
        }
        .list-group-item-heading {
          color: black;
        }
        img {
          opacity: 1.0;
        }
      }
    }
    .distance {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    .empty-message {
      div { padding: 12px; }
      display: none;
    }
    &.empty {
      .empty-message { display: inherit; }
    }
    .empty-message {
      margin: 10px 20px;
      display: none;
    }
    a .list-group-item-heading, a .list-group-item-text {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .list-group-item-text {
      margin-left: 90px;
    }
    img {
      opacity: 0.7;
      width: 42px;
      height: 42px;
      margin-right: 7px;
    }
  }
}

.page {
  margin-top: 20px;
}

.card {
  .close {
    padding: 2px 5px !important;
  }
  .thumbnail {
    padding: 0px;
    margin-bottom: 7px;
    .caption {
      p { margin: 0 0 2px; }
      padding: 2px 5px;
      margin-left: 100px;
    }
    h3 {
      color: black;
      margin-top: 3px;
      margin-bottom: 0px;
    }
    .avatar {
      width: 100px;
      height: 100px;
    }
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .fa {
    color: #333;
  }
}

.card.nearby-card .thumbnail .caption {
  margin-left: 55px;
}

.card.location-card .thumbnail .caption {
  margin-left: 0px;
}

.modal {
  .modal-dialog {
    margin-top: 80px !important;
  }
}

.create-location-dialog {
  img {
    width: 100px;
    height: 100px;
  }
}

.coords {
  position: relative;
  top: 15px;
}

.col-image {
  min-width: 100px;
  padding: none;
  float: left;
}

.map-edit-control {
  padding-right: 5px;
  padding-bottom: 5px;
  .inner {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    cursor: pointer;
    text-align: center;
    .text {
      font-family: Arial, sans-serif;
      font-size: 12px;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}

.team-index {
  .logo {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
  }
}

.footer {
  margin-top: 20px;
  border-top: 2px solid #e7e7e7;
  padding: 14px 5px;
  background-color: #f8f8f8;
  span {
    color: #ccc;
    padding: 0px 3px;
  }
}

.clear {
  clear: both;
}

.nearby-locations {
  &.empty {
    .content { display: none; }
    .alternative { display: inherit; }
  }

  .content { display: inherit; }
  .alternative { display: none; }
}

.directions-panel {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: white;
  max-width: 400px;
  padding: 2px 7px;
  border: 1px solid silver;
}
