/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 *= require bootstrap
 *= require font-awesome
 *= require bootstrap-social
 */

html, body {
  margin: 0px;
  padding: 0px;
}

.team-list ul {
  max-height: 200px;
  overflow-y: scroll;
  li label {
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.clear-input-button {
  line-height: 34px !important;
}

.image-caption {
  position: relative;
  top: -50px;
  left: 0px;
}

.report {
  color: red;
}

.show-user {
  img {
    max-width: 300px;
  }
}

.show-location {
  &>a {
    color: black;
  }
}

.show-location-overlay {
  img {
    width: 50px;
    height: 50px;
  }
}

.map-list {
  margin-top: 7px;
}

.edit-control {
  border: 1px solid #ccc;
  padding-bottom: 10px;
}
  
.map-view, .map-list-view {
  padding: 0px !important;
  min-height: 100% !important;
}

.map-canvas {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper {
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin-top: 52px;

  .navbar {
    position: fixed !important;
    width: 100%;
    z-index: 10000;
    top: 0px;
    left: 0px;
    margin-bottom: 0px !important;
  }
  .location-list {
    .empty-message { 
      padding: 12px; 
      display: none;
    }
    &.empty {
      .empty-message { display: inherit; }
    }
    padding: 0px !important;
    .list-group {
      .empty-message { 
        margin: 10px 20px; 
        display: none;
      }
      &.empty {
        .empty-message { display: inherit; }
      }
      .list-group-item-heading, .list-group-item-text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      img {
        width: 42px;
        height: 42px;
        margin-right: 7px;
      }
    }
  }
}

.page {
  margin-top: 20px;
}

.instructor {
  .thumbnail {
    img {
      max-height: 250px;
    }
    height: 420px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.modal {
  .modal-dialog {
    margin-top: 80px !important;
  }
}

.new-location-dialog {
  img {
    width: 100px;
    height: 100px;
  }
}
.new-location-dialog {
  .modal-dialog {
    margin-left: 20px !important;
  }
}

.add-location-dialog {
  img {
    width: 250px;
  }
}

.coords {
  position: relative;
  top: 15px;
}

.col-image {
  min-width: 100px;
  padding: none;
  float: left;
}

.map-edit-control {
  padding-right: 5px;
  padding-bottom: 5px;
  .inner {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    cursor: pointer;
    text-align: center;
    .text {
      font-family: Arial, sans-serif;
      font-size: 12px;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}

.footer {
  margin-top: 20px;
  border-top: 2px solid #e7e7e7;
  padding: 14px 5px;
  background-color: #f8f8f8;
  span {
    color: #ccc;
    padding: 0px 3px;
  }
}

.clear {
  clear: both;
}

