/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 *= require bootstrap
 *= require font-awesome
 *= require bootstrap-social
 *= require toastr
 *= require bootstrap-datetimepicker
 *= stub homepage
*/

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #e9ebee !important;
}

.container {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.directory {
  h3.parent-segment {
    font-size: 24px; 
    font-weight: 100;
  }
}

.homepage, .directory, .page {
  h3 {
    text-transform: uppercase;
    font-size: 125%;
    font-weight: bold;
  }

  .title-btn {
    margin-top: 15px; 
  }
}

.team-list ul {
  max-height: 200px;
  overflow-y: scroll;
  li label {
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.clear-input-button {
  line-height: 34px !important;
}

.image-caption {
  position: relative;
  top: -50px;
  left: 0px;
}

.report {
  color: red;
}

.block {
  display: block;
}

.show-user {
  img {
    max-width: 300px;
  }
}

.show-location, .show-user, .show-team {
  h3 {
    margin-top: 0px !important;
  }
  h1 {
    margin-top: 5px !important;
  }
}

.wrapper {
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin-top: 52px;

  .navbar {
    position: fixed !important;
    width: 100%;
    z-index: 10000;
    top: 0px;
    left: 0px;
    margin-bottom: 0px !important;
  }
}
  
.navbar-brand {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media(max-width:768px) {
	.navbar-form {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
			border: 0 !important;
	}
	.navbar-form .form-group {
			margin-bottom: 0 !important;
	}
}


.page {
  margin-top: 20px;
}

.modal {
  .modal-dialog {
    margin-top: 80px !important;
  }
}

img.cover-image {
  position: absolute;
  top: -10px;
  left: 0px;
  opacity: 0.5;
  width: 100%;
  min-height: 100%;
}

.create-location-dialog {
  img.logo {
    width: 100px;
    height: 100px;
  }
}

.coords {
  position: relative;
  top: 15px;
}

.description, .biography {  
  color: #333;
  font-family: Arial;
  font-size: 13px;
}

.col-image {
  min-width: 100px;
  padding: none;
  float: left;
}

.team-index {
  .logo {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
  }
}

.footer {
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding: 14px 5px;
  background-color: #f8f8f8;
  span {
    color: #ccc;
    padding: 0px 3px;
  }
}

.clear {
  clear: both;
}

.directions-panel {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: white;
  max-width: 400px;
  padding: 2px 7px;
  border: 1px solid silver;
}

body > .container {
  margin-top: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  h1 { 
    font-size: 175%; 
  }

  @media screen and (max-width: 767px) {
    h1 {
      font-size: 150%;
    }
    h3 {
      font-size: 120%;
    }
  }
}
