.fc-unthemed .fc-agendaDay-view .fc-today {
  background-color: white !important;
}

.fc-ltr .fc-time-grid .fc-event-container {
  margin: 0px !important;
}

.fc-basicWeek-view .fc-event img {
  width: 30px !important;
  height: 30px !important;
  margin-bottom: 20px;
}

.color-legend div {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

.color-legend span {
  vertical-align: text-top;
  line-height: 1.0em;
}

$color0: hsl(360, 90%, 40%);
$color1: hsl(315, 90%, 40%);
$color2: hsl(280, 90%, 40%);
$color3: hsl(245, 90%, 40%);
$color4: hsl(210, 90%, 40%);
$color5: hsl(175, 90%, 40%);
$color6: hsl(140, 90%, 40%);
$color7: hsl(105, 90%, 40%);
$color8: hsl(70, 90%, 40%);
$color9: hsl(35, 90%, 40%);
$color10: hsl(15, 90%, 40%);
$color11: hsl(0, 90%, 40%);
$colors: $color0, $color1, $color2, $color3, $color4, $color5, $color6, $color7, $color8, $color9, $color10, $color11;

.event-color-base {
  img {
    float: left;
    width: 50px;
    height: 50px;
    margin: 4px;
    opacity: 0.7;
  }

  padding: 3px;
  color: black !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  h4 {
    color: black;
    text-transform: uppercase;
    margin-top: 5px !important;
    margin-bottom: 3px !important;
  }
}

@for $i from 1 through length($colors) {
  .event-color-#{$i - 1} {
    @extend .event-color-base;
    background-color: lighten(nth($colors, $i), 40%) !important;
    border-color: nth($colors, $i) !important;
  }

  .schedule-color-#{$i - 1} {
    .color-legend div {
      background-color: lighten(nth($colors, $i), 40%);
      border-color: nth($colors, $i) !important;
    }
  }
}

.event-color-888 {
  @extend .event-color-base;
  background-color: white !important;
  border-color: red !important;
}

.event-color-999 {
  @extend .event-color-base;
  background-color: #ddd !important;
  border-color: #aaa !important;
}

.event-omnicalendar:hover {
  cursor: pointer;
}
