.fc-unthemed .fc-agendaDay-view .fc-today {
  background-color: white !important;
}

.fc-ltr .fc-time-grid .fc-event-container {
  margin: 0px !important;
}

.fc-basicWeek-view .fc-event img {
  width: 30px !important;
  height: 30px !important;
  margin-top: 3px !important;
  margin-bottom: 2px !important;
}

.color-legend div {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

.color-legend span {
  vertical-align: text-top;
  line-height: 1.0em;
}

.create-event-dialog {
  form {
    &.class {
      .organization { display: none; }
      .instructor-all { display: none; }
    }
    &.tournament {
      .instructor { display: none; }
      .instructor-all { display: none; }
      .recurrence-controls { display: none; }
    }
    &.seminar {
      .instructor { display: none; }
      .organization { display: none; }
      .recurrence-controls { display: none; }
    }
  }
}

$color0: hsl(360, 90%, 60%);
$color1: hsl(315, 90%, 60%);
$color2: hsl(280, 90%, 60%);
$color3: hsl(245, 90%, 60%);
$color4: hsl(210, 90%, 60%);
$color5: hsl(175, 90%, 60%);
$color6: hsl(140, 90%, 60%);
$color7: hsl(105, 90%, 60%);
$color8: hsl(70, 90%, 60%);
$color9: hsl(35, 90%, 60%);
$color10: hsl(15, 90%, 60%);
$color11: hsl(0, 90%, 60%);
$colors: $color0, $color3, $color6, $color9, $color1, $color4, $color7, $color10, $color2, $color5, $color8, $color11;

.event-color-base {
  img {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0px;
    margin-right: 4px;
    opacity: 0.7;
  }

  padding: 3px;
  color: black !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-left-width: 4px !important;
  h4 {
    font-size: 100%;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin-top: 5px !important;
    margin-bottom: 1px !important;
  }

  .h5 {
    font-size: 90%;
    display: block;
    margin-top: 0px !important;
    margin-bottom: 5px !important;
  }

  &:hover {
    cursor: pointer;
  }
}

@for $i from 1 through length($colors) {
  .event-color-#{$i - 1} {
    @extend .event-color-base;
    background-color: lighten(nth($colors, $i), 30%) !important;
    border-color: nth($colors, $i) !important;
  }
  
  .event-color-#{$i - 1}.event-omnicalendar {
    background: repeating-linear-gradient(
      #{(($i - 1) % 13) * 30}deg,
      lighten(nth($colors, $i), 50%),
      lighten(nth($colors, $i), 50%) 5px,
      lighten(nth($colors, $i), 45%) 5px,
      lighten(nth($colors, $i), 45%) 10px
    );
  }

  .schedule-color-#{$i - 1} {
    .color-legend div {
      border-color: nth($colors, $i) !important;
      background: repeating-linear-gradient(
        #{(($i - 1) % 13) * 30}deg,
        lighten(nth($colors, $i), 50%),
        lighten(nth($colors, $i), 50%) 5px,
        lighten(nth($colors, $i), 45%) 5px,
        lighten(nth($colors, $i), 45%) 10px
      );
    }
  }
}

.event-color-999 {
  @extend .event-color-base;
  background-color: #ddd !important;
  border-color: #aaa !important;
}

.event-seminar, .event-color-888 {
  @extend .event-color-base;
  border-color: lighten(rgb(0, 255, 0), 20%) !important;
  background: repeating-linear-gradient(
    45deg,
    lighten(rgb(0, 255, 0), 45%),
    lighten(rgb(0, 255, 0), 45%) 5px,
    lighten(rgb(0, 255, 0), 40%) 5px,
    lighten(rgb(0, 255, 0), 40%) 10px
  );

}

.event-tournament {
  @extend .event-color-base;
  border-color: lighten(rgb(0, 0, 255), 20%) !important;
  background: repeating-linear-gradient(
    135deg,
    lighten(rgb(0, 0, 255), 45%),
    lighten(rgb(0, 0, 255), 45%) 5px,
    lighten(rgb(0, 0, 255), 40%) 5px,
    lighten(rgb(0, 0, 255), 40%) 10px
  );
}

.event-camp {
  @extend .event-color-base;

}

.show-event {
  h1 {
    font-size: 175%;
    margin-top: 5px !important;
  }

  .logo {
    max-width: 100%;
  }

  @media screen and (max-width: 767px) {
    h1 {
      font-size: 150%;
    }
    h3 {
      font-size: 120%;
    }
    .description {
      font-size: 90%;
    }
  }
}

.upcoming-events {
  .location-list-item:nth-child(even) { 
  }
  .sub-item {
    border-top: 0px !important;
    border-bottom: 0px !important;
    .day { display: none; }
    .month { display: none; }
  }
  .location-list-item {
    h4 {
      font-size: 100%;
      margin: 0px;
    }
    p {
      margin: 0px;
    }
    .address {
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .image-container {
    float: left;
    width: 100px;
    height: 50px;
    margin-right: 7px;
    position: relative;
    img { 
      width: 50px;
      height: 50px;
      opacity: 0.6;
    }

    span.timestamp {
      position: relative;
      width: 50px;
      float: left;
      text-align: center;
    }
  }
}
  
.month {
  text-transform: uppercase;
  color: #8b0000;
  font-weight: bold;
  text-shadow: 0px 1px 4px white;
}

.day {
  font-size: 175%;
  color: black;
  line-height: 0.1em;
  text-shadow: 0px 1px 4px white;
}

.image-container {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 7px;
  position: relative;
  img { 
    width: 50px;
    height: 50px;
    opacity: 0.5;
  }

  span.timestamp {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
  }
}
