.fc-unthemed .fc-agendaDay-view .fc-today {
  background-color: white !important;
}

.fc-ltr .fc-time-grid .fc-event-container {
  margin: 0px !important;
}

.fc-basicWeek-view .fc-event img {
  width: 30px !important;
  height: 30px !important;
  margin-bottom: 20px;
}

.color-legend div {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

.color-legend span {
  vertical-align: text-top;
  line-height: 1.0em;
}

$color0: hsl(360, 90%, 60%);
$color1: hsl(315, 90%, 60%);
$color2: hsl(280, 90%, 60%);
$color3: hsl(245, 90%, 60%);
$color4: hsl(210, 90%, 60%);
$color5: hsl(175, 90%, 60%);
$color6: hsl(140, 90%, 60%);
$color7: hsl(105, 90%, 60%);
$color8: hsl(70, 90%, 60%);
$color9: hsl(35, 90%, 60%);
$color10: hsl(15, 90%, 60%);
$color11: hsl(0, 90%, 60%);
$colors: $color0, $color3, $color6, $color9, $color1, $color4, $color7, $color10, $color2, $color5, $color8, $color11;

.event-color-base {
  img {
    float: left;
    width: 30px;
    height: 30px;
    margin: 2px;
    opacity: 0.7;
  }

  padding: 3px;
  color: black !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  h4 {
    font-size: 100%;
    color: black;
    text-transform: uppercase;
    margin-top: 5px !important;
    margin-bottom: 1px !important;
  }

  .h5 {
    font-size: 90%;
    display: block;
    margin-top: 0px !important;
    margin-bottom: 5px !important;
  }

  &:hover {
    cursor: pointer;
  }
}

@for $i from 1 through length($colors) {
  .event-color-#{$i - 1} {
    @extend .event-color-base;
    background-color: lighten(nth($colors, $i), 30%) !important;
    border-color: nth($colors, $i) !important;
    border-left-width: 4px !important;
  }
  
  .event-color-#{$i - 1}.event-omnicalendar {
    background: repeating-linear-gradient(
      #{(($i - 1) % 13) * 30}deg,
      lighten(nth($colors, $i), 50%),
      lighten(nth($colors, $i), 50%) 5px,
      lighten(nth($colors, $i), 45%) 5px,
      lighten(nth($colors, $i), 45%) 10px
    );
  }

  .schedule-color-#{$i - 1} {
    .color-legend div {
      border-color: nth($colors, $i) !important;
      background: repeating-linear-gradient(
        #{(($i - 1) % 13) * 30}deg,
        lighten(nth($colors, $i), 50%),
        lighten(nth($colors, $i), 50%) 5px,
        lighten(nth($colors, $i), 45%) 5px,
        lighten(nth($colors, $i), 45%) 10px
      );
    }
  }
}

.event-color-888 {
  @extend .event-color-base;
  background-color: white !important;
  border-color: red !important;
}

.event-color-999 {
  @extend .event-color-base;
  background-color: #ddd !important;
  border-color: #aaa !important;
}

.show-event {
  h1 {
    font-size: 175%;
    margin-top: 5px !important;
  }

  .logo {
    max-width: 100%;
  }

  @media screen and (max-width: 767px) {
    h1 {
      font-size: 150%;
    }
    h3 {
      font-size: 120%;
    }
    .description {
      font-size: 90%;
    }
  }
}
