.favorite {
  a, a:visited, a:active { color: maroon; }
  a:hover { color: red; }

  &.saved {
    .clear-favorite { 
      display: inline;
    }
    .save-favorite {
      display: none;
    }
  }

  .save-favorite {
    display: inline;
  }
  .clear-favorite {
    display: none;
  }
}
