.homepage {
  margin-top: -20px;
  .btn {
    margin-top: 15px; 
  }
  .main-logo {
    width: 100px;
    height: 100px;
    margin-top: 17px;
  }
  .welcome {
    font-size: 300%;
    font-family: Verdana, Geneva, sans-serif;
    small {
      color: #9e4444 !important;
      text-transform: uppercase;
      font-size: 40%;
    }
  }
  .search-well, .contribute-well {
    h4 {
      color: white;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .search-well {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #44719e !important;
  }

  .contribute-well {
    background-color: #9e4444 !important;
    padding: 10px 15px 10px 15px;
    h4 {
      margin-bottom: 5px;
    }
    p {
      color: white;
    }
    a, a:hover, a:visited {
      color: white;
      font-weight: bold;
    }
    .content {
      color: #ddd;
      text-align: center;
    }
  }
}
