// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.academy-logo {
  width: 100px !important;
  height: 100px !important;
}

.img-tiny {
  width: 50px;
  height: 50px;
}

.instructors, .reviews {
  .empty-message {
    display: none;
  }
  &.empty {
    .empty-message { display: inherit; }
  }
}

.location-list {
  padding: 0px !important;
  .location-list-item {
    h4 {
      color: #428bca;
    }
    .team-title {
      color: black;
    }
    .label {
      color: black;
      min-width: 60px;
      display: inline-block;
      text-align: left;
    }
    .location-link:hover {
      text-decoration: none;
    }
    .active-content { display: none; }
    .inactive-content { display: inherit; }
    &:hover {
      cursor: pointer;
    }

    &.marker-active {
      background: rgba(223,233,240,1);
      background: -moz-linear-gradient(top, rgba(223,233,240,1) 0%, rgba(155,193,219,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,233,240,1)), color-stop(100%, rgba(155,193,219,1)));
      background: -webkit-linear-gradient(top, rgba(223,233,240,1) 0%, rgba(155,193,219,1) 100%);
      background: -o-linear-gradient(top, rgba(223,233,240,1) 0%, rgba(155,193,219,1) 100%);
      background: -ms-linear-gradient(top, rgba(223,233,240,1) 0%, rgba(155,193,219,1) 100%);
      background: linear-gradient(to bottom, rgba(223,233,240,1) 0%, rgba(155,193,219,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe9f0', endColorstr='#9bc1db', GradientType=0 );

      a.phone, a.website, a.email, a.facebook {
        color: black;
      }

      .active-content { display: inherit; }
      .inactive-content { display: none; }
      img { opacity: 1.0; }
      .list-index {
        color: black;
      }
    }
  }
  .list-index {
    color: #777;
    padding: 7px 0px;
    height: 100%;
    float: left;
    width: 40px;
    text-align: center;
    span {
      font-size: 150%;
    }
  }
  .distance {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .empty-message {
    div { padding: 12px; }
    display: none;
  }
  &.empty {
    .empty-message { display: inherit; }
  }
  .empty-message {
    margin: 10px 20px;
    display: none;
  }
  .list-group-item-heading, .list-group-item-text {
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
  }
  .list-group-item-text {
    margin-left: 98px;
  }
  img.logo {
    opacity: 0.7;
    width: 50px;
    height: 50px;
    margin-right: 7px;
  }
}

.location-list.recent-locations {
  p.timestamp {
    margin: 0px;
  }
  img.marker {
    margin-right: 7px;
  }
  img.logo {
    opacity: 1.0;
    width: 100px;
    height: 100px;
  }
  .content {
    margin-left: 110px;
  }
}

.nearby-locations {
  &.empty {
    .content { display: none; }
    .alternative { display: inherit; }
  }

  .content { display: inherit; }
  .alternative { display: none; }
}

.card.nearby-card {
  .thumbnail .caption { margin-left: 55px; }
  .direction {  margin: 5px 10px 0px 0px; } 
  .img-tiny { margin: 10px; }
  p { margin: 0px; }
  h5 { margin-bottom: 0px; }
}

.card.location-card .thumbnail .caption {
  margin-left: 0px;
}

.card {
  .close {
    padding: 2px 5px !important;
  }
  .thumbnail {
    padding: 0px;
    margin-bottom: 7px;
    .caption {
      p { margin: 0 0 2px; }
      padding: 2px 5px;
      margin-left: 100px;
    }
    h3 {
      color: black;
      margin-top: 3px;
      margin-bottom: 0px;
    }
    .avatar {
      width: 100px;
      height: 100px;
    }
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .fa {
    color: #333;
  }
}


