// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.academy-logo {
  width: 100px !important;
  height: 100px !important;
}

.instructors, .reviews {
  .empty-message {
    display: none;
  }
  &.empty {
    .empty-message { display: inherit; }
  }
}
