@import "colors";

.show-location {
  @media screen and (max-width: 767px) {
    .description {
      font-size: 90%;
    }
  }
  
  .logo {
    max-width: 100%;
  }

  &.closed {
    address, h1 {
      text-decoration: line-through;
    }
    
    h1 {
      color: #a94442;
    }
  }

  &.moved {
    .address {
      text-decoration: line-through;
    }
  }

  .media-thumbnail {
    height: 100px;
    overflow: hidden;
    display: inline-block;
    position: relative;

    .overlay {
      position: absolute;
      &.top-left {
        top: 0px;
        left: 0px;
      }

      &.top-right {
        top: 0px;
        right: 0px;
      }

      &.bottom-left {
        bottom: 0px;
        left: 0px;
      }

      &.bottom-right {
        bottom: 0px;
        right: 0px;
      }
    }
  }
}

.img-tiny {
  width: 50px;
  height: 50px;
}

.instructors, .reviews, .students {
  .empty-message {
    display: none;
  }
  &.empty {
    .empty-message { display: inherit; }
  }
}

.location-list.recent-locations {
  p.timestamp {
    margin: 0px;
  }
  img.marker {
    margin-right: 7px;
    margin-top: 4px;
    width: 24px;
    height: 24px;
    opacity: 0.8;
  }
  img.logo {
    opacity: 1.0;
    max-width: 50px;
  }
  
  .content {
    margin-left: 58px;
  }
}

.nearby-locations {
  &.empty {
    .content { display: none; }
    .alternative { display: inherit; }
    .empty-message { display: inherit; }
  }

  .empty-message { display: none; }
  .content { display: inherit; }
  .alternative { display: none; }
}

.card.nearby-card, .card.location-card {
  position: relative;

  .thumbnail .caption { margin-left: 55px; }
  .direction {  
    position: absolute;
    bottom: 5px;
    right: 5px;
  } 
  .img-tiny { margin: 10px; }
  p { margin: 0px; }
  h5 { margin-bottom: 0px; }
  .list-group-item-heading {
    width: 70%;
  }

  .list-group-item-heading * {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.card.location-card .thumbnail .caption {
  margin-left: 0px;
}

.card {
  .close {
    padding: 2px 5px !important;
  }
  .thumbnail {
    padding: 0px;
    margin-bottom: 7px;
    .caption {
      p { margin: 0 0 2px; }
      padding: 2px 5px;
      margin-left: 100px;
    }
    h3 {
      color: black;
      margin-top: 3px;
      margin-bottom: 0px;
    }
    .avatar {
      width: 100px;
      height: 100px;
    }
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .fa {
    color: #333;
  }
}

.location-table {
  img {
    width: 30px;
    height: 30px;
    opacity: 0.7;
  }
}

.media-teaser img {
  width: 60px;
  height: 60px;
}

.team-title {
  color: #777 !important;
}

.address {
  color: #333 !important;
}
