/* 
 *= require marker
 */

@import "colors";

.map-canvas {
  border: 1px solid #ccc;
  background-color: #eee;
}

label {
  &.academy {
    display: block;
    color: $academyColor;
  }
  &.tournament {
    display: block;
    color: $tournamentColor;
  }
  &.seminar {
    display: block;
    color: $seminarColor;
  }
}

.location-list {
  padding: 0px !important;
  .list-count {
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px !important;
  }
  .map-list-item {
    padding-left: 4px !important;
    h4 {
      color: #428bca;
    }
    .address {
      color: black;
    }
    .label {
      color: black;
      min-width: 60px;
      display: inline-block;
      text-align: left;
    }
    .location-link:hover {
      text-decoration: none;
    }
    .active-content { display: none; }
    .inactive-content { display: inherit; }
    &:hover {
      cursor: pointer;
    }

    &.academy .list-index span {
      background-color: lighten($academyColor, 30%);
      border: 1px solid $academyColor;
    }
    &.academybb .list-index span {
      background-color: lighten($academyColor, 30%);
      border: 1px solid $academyColor;
      border-top: 3px solid black;
    }
    &.tournament .list-index span {
      background-color: lighten($tournamentColor, 30%);
      border: 1px solid $tournamentColor;
    }
    &.seminar .list-index span {
      background-color: lighten($seminarColor, 30%);
      border: 1px solid $seminarColor;
    }
    .distance {
      bottom: 10px;
      right: 10px;
      position: absolute;
    }
  }
  .list-index {
    color: white;
    padding: 7px 0px;
    height: 100%;
    float: left;
    width: 43px;
    text-align: center;
    span {
      font-size: 150%;
      border-radius: 5px;
      padding: 3px;
      color: white;
    }
  }
  .list-group-item-heading, .list-group-item-text {
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
  }
  .list-group-item-text {
    margin-left: 98px;
  }
  img.logo {
    width: 50px;
    height: 50px;
    margin-right: 7px;
  }
}

.map-list-item {
  opacity: 0.7;
  &.marker-active {
    opacity: 1.0;

    a.phone, a.website, a.email {
      color: blue;
    }

    .active-content { display: inherit; }
    .inactive-content { display: none; }

    &.academy .list-index span {
      background-color: $academyColor;
      border: 1px solid $academyColor;
    }

    &.academybb .list-index span {
      background-color: $academyColor;
      border: 1px solid $academyColor;
      border-top: 3px solid black;
    }

    &.tournament .list-index span {
      background-color: $tournamentColor;
      border: 1px solid $tournamentColor;
    }

    &.seminar .list-index span {
      background-color: $seminarColor;
      border: 1px solid $seminarColor;
    }
  }
}

.show-location-overlay {
  max-width: 275px;

  img {
    width: 50px;
    height: 50px;
  }
  .address { color: black; }
}

.map-list {
  margin-top: 7px;
}

.map-view, .map-list-view {
  padding: 0px !important;
  min-height: 100% !important;
}

.map-list-view {
  background-color: #eee;
  .tab-content {
    background-color: white;
  }
}

.map-canvas {
  height: 100%;
}

.wrapper {
  .map-canvas {
    position: fixed !important;
    top: 50px;
    right: 33.3333%;
    height: auto;
    @media screen and (max-width: 1000px) {
      position: absolute !important;
      top: 0;
      right: 0;
    }
    left: 0;
    bottom: 0;
    border: 2px solid transparent;
  }
  &.map-edit-mode {
    .map-canvas {
      border: 2px dashed #449d44;
    }
  }
}

.map-edit-control {
  padding-right: 5px;
  padding-bottom: 5px;
  .inner {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    cursor: pointer;
    text-align: center;
    .text {
      font-family: Arial, sans-serif;
      font-size: 12px;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}
