@import "colors";

.map-label-content {
  position: relative;
  border-radius: 4px;
  padding: 5px;
  color: #ffffff;
  font-size: 20px;
  width: 100%;
  line-height: 20px;
  text-align: center;
  
  &:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
  }
}

.map-label-content.academy {
  background-color: $academyColor;
  &:after {
    border-top: solid 5px $academyColor;
  }
}

.map-label-content.academybb {
  background-color: $academyColor;
  border-top: solid 3px black;
  &:after {
    border-top: solid 5px $academyColor;
  }
}

.map-label-content.tournament {
  background-color: $tournamentColor;
  &:after {
    border-top: solid 5px $tournamentColor;
  }
}

.map-label-content.seminar {
  background-color: $seminarColor;
  &:after {
    border-top: solid 5px $seminarColor;
  }
}

.map-label-content.pending {
  background-color: orange;
  border: 1px solid black;
  &:after {
    border-top: solid 5px orange; 
  }
}

.map-label-content.rejected {
  background-color: red;
  border: 1px solid black;
  &:after {
    border-top: solid 5px red;
  }
}
