.table-user-information td, .table-user-information th {
  border: none !important;
}

.show-user img.profile {
  width: 200px;
}

.edit-image-container {
  position: relative;
  cursor: crosshair;
  .thumbnail-overlay {
    border: 2px dashed #000;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    visibility: hidden;
    span {
      position: relative;
      top: -20px;
      text-align: center;
      width: 100%;
      display: block;
      font-size: 80%;
    }
  }
}
