.login-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %strong BJJMapper Login
      .modal-body
        = render partial: 'sessions/service_buttons'
        %hr/
        %p
          Don't use these services? Login below or
          %strong= link_to 'click here to register a new account', url_for(controller: :sessions, action: :new, anchor: 'register', ref: 'logindialog')
        = render partial: 'sessions/identity_login_form'
