%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header.row
      %button.navbar-toggle.col-xs-2{"data-target" => ".main-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.col-xs-2{:rel => 'home', :href => root_path(ref: 'logo'), :title => 'BJJMapper Homepage'}
        %img{:src => 'https://storage.googleapis.com/bjjmapper/logo.png', :style => 'margin-top: -17px; width: 60px; height: 60px'}/
      .col-md-10.col-xs-7
        %form{:role => "search"}
          %input.input-lg.form-control{:name => 'query', :size => '25', :placeholder => "eg. Gracie, New York", :type => "text", :value => params[:query]}/
    / Collect the nav links, forms, and other content for toggling
    .main-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{:class => controller?(:maps) ? 'active' : nil}
          %a{href: map_path(ref: 'navbar'), title: 'Brazilian Jiu-Jitsu Academy Map'} Map
        %li{:class => controller?(:directory_segments) ? 'active' : nil}
          %a{href: directory_index_path(ref: 'navbar'), title: 'Brazilian Jiu-Jitsu Academy Directory'} Directory
        %li{:class => action?(:meta) ? 'active' : nil}
          %a{:href => meta_path(ref: 'navbar'), title: 'Learn about BJJMapper'} About
      = render partial: 'profile_or_login'
    / /.navbar-collapse
  / /.container-fluid
= content_for(:scripts) do
  :coffeescript
    nav = new RollFindr.Views.NavbarView()
