%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => ".main-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:rel => 'home', :href => root_path(ref: 'logo'), :title => 'BJJMapper Homepage'}
        %img{:src => 'https://storage.googleapis.com/bjjmapper/logo.png', :style => 'margin-top: -17px; width: 60px; height: 60px'}/
      - if controller?(:maps)
        .btn-group.pull-left{:role => 'group'}
          %button.navbar-toggle.btn{'data-toggle' => 'button', 'style' => 'color: white; margin-right: 0px; margin-left: 15px', 'data-show-list' => true}
            %span List
          %button.navbar-toggle.btn{'data-toggle' => 'button', 'style' => 'color: white', 'data-show-map' => true}
            %span Map
    / Collect the nav links, forms, and other content for toggling
    .main-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{:class => controller?(:maps) ? 'active' : nil}
          %a{href: map_path(ref: 'navbar'), title: 'Brazilian Jiu-Jitsu Academy Map'} Map
        %li{:class => controller?(:directory_segments) ? 'active' : nil}
          %a{href: directory_index_path(ref: 'navbar'), title: 'Brazilian Jiu-Jitsu Academy Directory'} Directory
        %li{:class => action?(:meta) ? 'active' : nil}
          %a{:href => meta_path(ref: 'navbar'), title: 'Learn about BJJMapper'} About
        %form.navbar-form.navbar-left{:role => "search"}
          .form-group.has-feedback
            %input.form-control{:name => 'query', :size => '8', :placeholder => "Search", :type => "text", :value => params[:query]}/
          .form-group
            .input-group
              %input.form-control{:name => 'location', :size => '10', :placeholder => "Anywhere", :type => "text", :value => params[:location]}/
              %a.input-group-addon{'data-geolocate' => 'true', :href => '#geolocate'}
                %i.fa.fa-location-arrow
          %button.btn.btn-default{'data-nodisable' => true, :type => "submit"} Search
          -# link_to wizard_locations_path(ref: 'nav'), class: 'btn btn-success' do
            %i.fa.fa-map-marker
            Create Academy
      = render partial: 'profile_or_login'
    / /.navbar-collapse
  / /.container-fluid
= content_for(:scripts) do
  :coffeescript
    nav = new RollFindr.Views.NavbarView()
