%nav.navbar.navbar-inverse{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => ".main-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if action?(:map)
        .btn-group.pull-left{:role => 'group'}
          %button.navbar-toggle.btn{'data-toggle' => 'button', 'style' => 'color: white; margin-right: 0px; margin-left: 15px', 'data-show-list' => true}
            %span List
          %button.navbar-toggle.btn{'data-toggle' => 'button', 'style' => 'color: white', 'data-show-map' => true}
            %span Map
    / Collect the nav links, forms, and other content for toggling
    .main-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{:class => action?(:map) ? 'active' : nil}
          %a{href: root_path(ref: 'navbar'), title: 'Brazilian Jiu-Jitsu Academy Map'} Map
        %li{:class => action?(:index) ? 'active' : nil}
          %a{href: directory_index_path(ref: 'navbar'), title: 'Brazilian Jiu-Jitsu Academy Directory'} Directory
        %li{:class => action?(:meta) ? 'active' : nil}
          %a{:href => meta_path(ref: 'navbar'), title: 'Learn about BJJMapper'} Meta
      - if action?(:map)
        %form.navbar-form.navbar-left{:role => "search"}
          .form-group.has-feedback
            %input.clear-input.form-control{:name => 'query', :size => '8', :placeholder => "Search", :type => "text"}/
            %span.clear-input-button.form-control-feedback.fa.fa-times-circle
          .form-group
            .input-group
              %input.form-control{:name => 'location', :size => '10', :placeholder => "Current View", :type => "text"}/
              %a.input-group-addon{'data-geolocate' => 'true', :href => '#geolocate'}
                %i.fa.fa-location-arrow
          %button.btn.btn-default{:type => "submit"} Search
      = render partial: 'profile_or_login'
    / /.navbar-collapse
  / /.container-fluid
= content_for(:scripts) do
  :coffeescript
    nav = new RollFindr.Views.NavbarView()
