%ul.nav.navbar-nav.navbar-right
  - if signed_in?
    %li= link_to('Profile', user_path(current_user))
    %li= link_to('Sign out', signout_path)
  - else
    %li
      %button.btn.btn-primary{"style" => "margin-top: 7px;", "data-target" => ".login-modal", "data-toggle" => "modal"}
        Login or Sign up
