.col-md-8.map-view
  .map-canvas
.col-md-4.map-list-view
  %ul.nav.nav-tabs.nav-justified.map-list
    %li.active
      %a.show-locations{:href => '#tab-pane-location-list', 'data-toggle' => 'tab'} 
        %strong Academies
    %li
      %a.show-filters{:href => '#tab-pane-filter-list', 'data-toggle' => 'tab'} 
        %strong Options &amp; Filters

  .tab-content
    %br/
    %div#tab-pane-location-list.tab-pane.location-list.fade.in.active
      = render partial: 'locations/map_list'

    %div#tab-pane-filter-list.filter-list.tab-pane.fade.in
      .term-filter.container-fluid
        %h4 Search terms
        .input-group
          %input.form-control{:placeholder => 'Search', :name => 'search'}
          %a.input-group-addon{:href => '#'}
            %i.fa.fa-search
        %br/
      .sort-order.container-fluid
        %h4 Order by
        %select.form-control{:name => 'sort_order'}
          %option{:value => 'id'} Relevance
          %option{:value => 'title'} A-Z
          %option{:value => 'distance'} Distance
          %option{:value => 'rating'} Rating
        %br/
      .team-list
        -# This is filled in by team-list template
      .container-fluid
        %br/
        %a.btn.btn-primary.pull-right Apply
        %br/
        %br/
= render partial: 'locations/create_modal_small'
= render partial: 'locations/create_modal'
- content_for :scripts do
  :javascript
    $(document).ready(function() {
      var mapModel = new RollFindr.Models.Map(#{@map.to_json});
      var mapView = new RollFindr.Views.MapView({model: mapModel});
    });
