= render partial: 'locations/create_modal_small'

.map-view
  .map-canvas
  .location-list
- content_for :scripts do
  :javascript
    $(document).ready(function() {
      var mapModel = new RollFindr.Models.Map(#{@map.to_json});
      var mapView = new RollFindr.Views.MapView({model: mapModel, el: $('.map-view')});
    });
