%h1 About
%address
  %strong RollFindr
  %br/
  12326 14th Ave NE
  %br/
  Seattle, WA 98125
  %br/
  %abbr{:title => "Phone"} P:
  (206) 661-4210
%address
  %a{:href => "mailto:info+meta@rollfinder.com"} info@rollfindr.com

