%br
%h2 Podium Kimonos
.alert.alert-success
  %strong Free Shipping!
  Hurry! Offer only lasts until August 31st!
.row-fluid
  .span4
    #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
      .carousel-inner
        .item.active
          %img{alt: "...", src: "http://podiumbrand.com/wp-content/themes/shopperpress/thumbs/PodiumGiHiRes57.jpg"}/
        .item
          %img{alt: "...", src: "http://podiumbrand.com/wp-content/themes/shopperpress/thumbs/PodiumGiHiRes32.jpg"}/
        .item
          %img{alt: "...", src: "http://podiumbrand.com/wp-content/themes/shopperpress/thumbs/PodiumGiHiRes43.jpg"}/

  .span4 
    .row
      %h3{style: 'margin: 0px; display: inline-block;'} The Ender
      %span.label.label-warning{style: 'vertical-align: text-top;'} Limited Edition
    .row
      %a{href: '#reviews'} 42 Customer Reviews
      %hr{style: 'margin-top: 0px; margin-bottom: 10px;'}
    .row
      %table.pricetable
        %tbody
          %tr
            %td.text-right Price:
            %td.price 
              %h4 $179.99
          %tr
            %td.text-right Shipping:
            %td.shipping $7.99
    .row.well.well-sm
      %p Designed as the first kimono ever by Podium&trade;, the Ender Kimono is a black base kimono with purple contrast designs.
      .swab{style: 'background-color: #000000;'}
      .swab{style: 'background-color: #660066;'} 
      %br.clear/
      %br/
      %strong.clear Constructed for Jiu-Jitsu competition purposes, the jacket is simple and ready:
      %ul
        %li 450gram, lightweight weave.
        %li Foam Collar Construction
        %li Reinforced Sleeves
        %li Even Jacket skirt for tapered fit and less manipulation.
      %strong The pants:
      %ul
        %li Cotton Twill Construction
        %li Thigh-Shin Knee reinforcements.
        %li 6 loop drawstring system.

  .span4
    .panel.panel-default
      .panel-body
        %label{for: "selectsize"} Select Size
        %select{id: "selectsize", name: "os0"}
          %option{value: "A1"} A1
          %option{value: "A2"} A2
          %option{value: "A3"} A3
          %option{value: "A4"} A4
        %label{for: "selectquantity"} Quantity
        %select{id: "selectquantity", name: "os1"}
          %option{value: "1"} 1
          %option{value: "2"} 2
          %option{value: "3"} 3
          %option{value: "4"} 4
          %option{value: "5"} 5
        %button.btn.btn-lg.btn-primary Buy Now
 
.row-fluid
  .span12
    .panel.panel-default
      .panel-heading
        %a{name: 'reviews'}
          %h3.panel-title Customer Reviews
      .panel-body
        .media
          %a.pull-left{href: '#', style: 'width: 64px; height: 100px;'}
            %img{style: 'width: 64px; height: 64px;'}/
            %p.small.text-center Evan B.
          .media-body
            %h4.media-heading Solid and stylish
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
