%ol.breadcrumb
  %li
    %a{href: root_path} Home
  %li
    %a{href: locations_path} Academies
  %li
    %a{href: locations_path(country: location.country)}= location.country
  %li
    %a{href: locations_path({country: location.country, city: location.city})}= location.city
  - if local_assigns.key?(:sub)
    %li
      %a{href: location_path(location)}= location.title
    %li.active= sub
  - else
    %li.active= location.title 
