%ol.breadcrumb
  %li
    %a{href: root_path} Home
  %li
    %a{href: locations_path} Academies
  %li
    %a{href: locations_path(country: location.country)}= location.country
  %li
    %a{href: locations_path({country: location.country, city: location.city})}= location.city
  %li.active= location.title      
