.new-location.template
  = form_for(Location.new, html: { class: 'form-horizontal container' } ) do |f|
    %fieldset
      / Form Name
      %legend Create Academy
      / Text input
      .form-group
        %label.col-md-4.control-label{:for => "location[title]"} Name
        .col-md-6
          = f.text_field :title, placeholder: 'The name of your academy', class: 'form-control input-md'
      / Select Basic
      .form-group
        %label.col-md-4.control-label{:for => "location[team]"} Team
        .col-md-6
          %select.form-control{:name => "location[team]"}
            %option{:value => "1"} Option one
            %option{:value => "2"} Option two
      / Textarea
      .form-group
        %label.col-md-4.control-label{:for => "location[description]"} Description
        .col-md-6
          = f.text_area :description, placeholder: 'A brief description of your academy', class: 'form-control'
      = f.hidden_field :coordinates, class: 'coordinates form-control'
      %button.btn.btn-primary{:type => "Submit"} Create
