.alert.alert-success{:role => 'alert'}
  %button.close{"data-dismiss" => "alert", :type => "button"} 
    %span{"aria-hidden" => "true"} &times;
    %span.sr-only Close
  %strong Welcome to the Brazilian Jiu-Jitsu academy directory.  
  %span Our directory is not yet complete, but we are feverishly adding new locations in every corner of the globe. We hope that with your help, BJJMapper will someday become the authoritative destination for information about Brazilian Jiu-Jitsu training worldwide. Anyone can add to the directory, just click the 'Create Academy' button in the top right. Questions? Comments? Contact us at 
  = mail_to 'info@bjjmapper.com'
