.directions-dialog.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4
          %i.fa.fa-arrows
          Get directions to
          %span.destination-title
      .modal-body
        .container-fluid
          .row
            .col-md-12
              .input-group
                %input.form-control.input-md{:name => 'address'}
                %a.input-group-addon.use-current-location{:href => '#'}
                  %i.fa.fa-location-arrow
          .row
            %label.col-md-3 
              %input{:type => 'radio', :name => 'travel_mode', :value => 'DRIVING', :checked => true} 
              Driving
            %label.col-md-3
              %input{:type => 'radio', :name => 'travel_mode', :value => 'WALKING'} 
              Walking
            %label.col-md-3
              %input{:type => 'radio', :name => 'travel_mode', :value => 'BICYCLING'} 
              Bicycle
            %label.col-md-3
              %input{:type => 'radio', :name => 'travel_mode', :value => 'TRANSIT'} 
              Transit
          .row
            .col-md-12.directions-panel
      .modal-footer
        %button.btn.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
        %button.btn.btn-success{:type => "submit"} Go! 
= content_for(:scripts) do
  :coffeescript
    $(document).ready ->
      modalView = new RollFindr.Views.DirectionsDialogView({ el: $('.directions-dialog') })
