.alert.alert-success.buffer-top-sm{:role => 'alert'}
  %button.close{"data-dismiss" => "alert", :type => "button"} 
    %span{"aria-hidden" => "true"} &times;
    %span.sr-only Close
  %strong Thank you for contributing to BJJMapper! 
  %span Your changes have been saved successfully. Please take a moment to review your changes below.
