- if signed_in? && !location.editable_by?(current_user)
  %button.btn.btn-default.btn-sm{:type => "button", :disabled => true}
    %span.fa.fa-lock
    Edit
  = render partial: 'report_button'
- else
  .display-field
    .btn-group
      %button.btn.btn-default.btn-sm{:type => "button", 'data-begin-edit' => true} Edit
      %button.btn.btn-default.btn-sm.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
        %span.caret
        %span.sr-only Toggle Dropdown
      %ul.dropdown-menu{:role => "menu"}
        %li
          = link_to '#instructor', { :'data-toggle' => 'modal', :'data-target' => '.add-instructor-dialog' } do
            %span.fa.fa-user
            Add Instructor
        %li
          %a.add-event-menu{:href => '#schedule'}
            %span.fa.fa-calendar
            Add Event
        %li
          %a.add-review{:'data-location-id' => location.id.to_s, :href => '#reviews'}
            %span.fa.fa-star
            Add Review
        %li.divider
        %li
          - if location.owner.present? && location.editable_by?(current_user)
            = render partial: 'edit_unlock', locals: { location: location }
          - else
            %a{:href => 'javascript:void(0)', :'data-claim-location' => true}
              %span.fa.fa-lock
              I am the owner
        %li
          - if !location.flag_closed?
            %a{:href => 'javascript:void(0)', :'data-id' => location.id.to_s, :'data-close-location' => true}
              %span.fa.fa-close
              Mark as closed
          - else
            %a{:href => 'javascript:void(0)', :'data-id' => location.id.to_s, :'data-reopen-location' => true}
              %span.fa.fa-check
              Re-open academy

    = render partial: 'report_button'
  .edit-field
    %button.btn.btn-default.btn-sm{:'data-cancel-edit' => true } Cancel
    %button.btn.btn-primary.btn-sm{:type => 'submit'} Save
