%h3.pull-left Instructors
%button.navbar-btn.pull-right.edit-field.btn.btn-small.btn-success.add-instructor{:type => 'button'}
  %i.fa.fa-plus-circle
  Add Instructor
%a{:name => 'instructor'}
.clear
= render partial: 'users/card', collection: location.instructors, as: 'user'
