.list-group
  %p.small.text-muted.text-center.list-count
  .bg-danger.empty-message
    %h4 Sorry, we have nothing to show you
    %span
      Try zooming out or using the search bar at the top of the page.
      %br/
      If you are using filters, try clearing them.
  .items

  %br/
  .col-md-8.col-md-offset-2.text-center
    %button.btn.btn-block.btn-lg.btn-success.add-academy{:type => 'button'}
      %i.fa.fa-map-marker
      Add Academy
    
    %button.btn.btn-block.btn-lg.btn-danger.cancel-add-academy{:type => 'button'}
      %i.fa.fa-close
      Cancel Editing
