<script type="text/template" class="show-location-template">
  <div class="show-location container-fluid">
    <div class="row">
      <div class="col-md-3 text-center">
        <br />
        <img class="center-block" src="<%%= location.image %>" />
        <i class="updated-at pull-left small"><%%= location.updated_at %></i>
      </div>
      <div class="col-md-9">
        <h3>
          <span class="title"><%%= location.title %></span>
          <br />
          <span class="small"><%%= location.team_name %></span>
        </h3>
        <span class="address"><%%= location.address %></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="pull-right">
          <a href="<%%= Routes.location_path(location.id) %>" class="more btn btn-primary btn-sm" data-no-turbolink>See More</a>
        </p>
      </div>
    </div>
  </div>
</script>
