%h3 News Feed
.fb-page{"data-width" => 450, "data-height" => 600, "data-colorscheme" => "light", "data-header" => "true", "data-href" => "https://www.facebook.com/#{location.facebook}", "data-show-border" => "true", "data-show-posts" => "true", "data-show-facepile" => "false"}
