.show-location.template
  .container-fluid
    .row
      .col-md-2
        = image_tag 'academy-default-100.jpg', class: 'img-thumbnail pull-left'
      .col-md-10
        %h3
          %span.title
          %small
            Team
            %span.team-name
        %p.description
        %p.coords
    .row
      .col-md-5.col-md-offset-2
        %i.pull-left.updated-at.small
      .col-md-2.col-md-offset-3
        %p
          %a.more.btn.btn-primary.btn-sm{:data => {:'no-turbolink' => true}} See more »
