.show-location.template
  .container
    .row
      .col-md-1{:style => 'width: 120px'}
        = image_tag 'academy-default-100.jpg', class: 'img-thumbnail'
      .col-md-9
        %h3
          %span.title
          %small
            Team
            %span.team-name
        %p.description
        %p.coords
        %a.more.btn.btn-primary.btn-sm{:href => "#", :role => "button", :data => { :'no-turbolink' => true }} See more »
