.show-location.template
  .container-fluid
    .row
      .col-md-3.text-center
        %br/
        = image_tag 'academy-default-100.jpg', class: 'center-block'
        %i.pull-left.updated-at.small
      .col-md-9
        %h3
          %span.title
          %br/
          %small.team-name
        %span.address
    .row
      .col-md-12
        %p.pull-right
          %a.more.btn.btn-primary.btn-sm{:data => {:'no-turbolink' => true}} See more »
