%h3.pull-left Reviews
%a.navbar-btn.pull-right.edit-field.btn.btn-small.btn-default.add-review{:style => 'margin-top: -5px', :href => '#reviews'}
  %i.fa.fa-star-o
  Create Review
%a{:name => 'reviews'}
.items.clear
.empty-message
  %i.text-muted There are currently no reviews for this academy
