
/ Map Overlay Button Template
.map-edit-control.template 
  %button.btn.btn-success.btn-md
    Add an academy!

= render partial: 'show_template'
= render partial: 'create_template'

%div.map-canvas{:data => { :'geocode-path' => geocode_locations_path, :'create-path' => locations_path, :'search-path' => search_locations_path }} 
:javascript
  $('.map-canvas').mapCreate({geolocate: true, zoom: 12});
