
/ Map Overlay Button Template
.map-edit-control.template 
  %button.btn.btn-primary.btn-lg
    Add an academy!

= render partial: 'show_template'
= render partial: 'create_template'

%div.map-canvas{:data => { :'search-path' => search_locations_path }} 
